<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
<connectionStrings>
    <!--<add name="Warehouse" connectionString="Data Source=10.88.31.22;Initial Catalog=SHDB;User ID=sa;Password=sa$123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Warehouse" connectionString="" providerName="System.Data.SqlClient"/>-->
    <add name="DataMode" connectionString="Data Source=192.168.30.24;Initial Catalog=ChwareNBC;User ID=sa;Password=ch@123" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>
